@use "vars";
@use "blocks/header";
@use "blocks/footer";
@use "blocks/article";
@use "blocks/titles";
@use "blocks/hello-world";
@use "blocks/latest-updates";
@use "blocks/projects";
@use "blocks/my-sex-tape";
@use "blocks/go-to-penis";
@use "blocks/wallpaper-room";
@use "vendors/termynal";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');


$link-color: #0645AD;


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
}

main {
    padding: 1rem;
}

a {
    color: $link-color;
}

.alert {
    padding-left: 10px;
    padding-right: 15px;
    background-color: salmon;
    font-size: 3.0rem;
    line-height: 3.5rem;
    
}



    // Nav

.secondary-nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding-left: 20px;
    margin-bottom: 40px;
    margin-top: 60px;

    grid-column: 1 / -1;

    a {
        text-decoration: none;
        color: black;
    }
}

.nav--active {
    border-top: 3px solid #000;
    width: fit-content;
    padding-top: 3px;
    font-weight: 500;

}

.nav--passive:hover {
    width: fit-content;
    color: #f41224;

}



