<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}

     <!-- Yandex.Map API -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=74fbe49b-5632-493c-a3b4-bf3f23b5d25b&lang=ru_RU" type="text/javascript"> </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/84891157" style="position:absolute; left:-9999px;" alt=""></div>
    </noscript>
<body>

    {{> header }}

    {{> body }}

    {{> footer }}

    <script src="assets/js/go-to-penis/go-to-penis-map.min.js"></script>
</body>
</html>